.bodyChg{
    background-image: url(images/NSA-Crypto-Backdoor-1024x768.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
   
}

.insertText{
    background: fixed;
    position: absolute;
    top: 45%;
    left: 0;
    width: 400px;
    height: 100px;
    border: none;
    color: white;
    font-size: 20px;
}

.insertText::placeholder{
    font-size: 25px;
    color: cornflowerblue;
}
.beforeResult{
    background-image: url(images/Criptografia.webp);
    background-repeat: no-repeat;
    background-position: 55% 20%;
    background-size: auto;
    position: absolute;
    width: 500px;
    height: 750px;
    top: 10%;
    left: 73%;
    resize: none;
    font-size: 40px;
    color: red;
}

.getResult{
    background: fixed;
    position: absolute;
    width: 400px;
    height: 600px;
    top: 10%;
    left: 75%;
    resize: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border-width: 5px;
    border-color: darkblue;
}

.buttonEncriptar{
    background-color: cornflowerblue;
    position: absolute;
    top: 70%;
    left: 15%;
    width: 300px;
    height: 70px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
.buttonEncriptar:hover{
    background: cornflowerblue;
    transform: scale(1.2);
    opacity: 0.8;
    transition: 400ms;
}
.buttonDesencriptar{
    background-color: cornflowerblue;
    position: absolute;
    top: 85%;
    left: 15%;
    width: 300px;
    height: 70px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
.buttonDesencriptar:hover{
    background: cornflowerblue;
    transform: scale(1.2);
    opacity: 0.8;
    transition: 400ms;
}
.buttonCopiar{
    background-color: cornflowerblue;
    position: absolute;
    top: 80%;
    left: 78%;
    width: 300px;
    height: 70px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
.buttonCopiar:hover{
    background: cornflowerblue;
    transform: scale(1.2);
    opacity: 0.8;
    transition: 400ms;
}


.rodapie{
    position: absolute;
    top: 97%;
    left: 1%;
    font-size: 20px;
    color: red;
}

@media screen and (max-width: 1000px) {
    .bodyChg{
        background-image: url(images/NSA-Crypto-Backdoor-1024x768.jpg);
        background-repeat: repeat-y;
        position: relative;
        width: 768px;
        height: 1174px;
    }
    .insertText{
        position: absolute;
        top: 30%;
    }
    .buttonEncriptar{
        position: absolute;
        top: 60%;
    }
    .buttonDesencriptar{
        position: absolute;
        top: 70%;
    }
    .buttonCopiar{
        position: absolute;
        top: 70%;
        left: 80%;
    }

    footer{
        position: relative;
        top: 90%;
    }
}
